In [1]:
#Dependencies
import pandas as pd

In [2]:
#Save path to data set in a variable
netflix_file = "Resources/netflix_sample.csv"

In [3]:
#use Pandas to read data
netflix_df = pd.read_csv(netflix_file)
netflix_df.head()

,"<html><head><meta http-equiv=""Content-Type"" content=""text/html; charset=UTF-8""></head><body>Profile Name",Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Charlie,2013-03-20 5:17:53,0:00:05,NaN,Star Trek: Deep Space Nine: Season 5: Empok No...,NaN,Mac,0:00:05,Not latest view,US (United States)
1,Charlie,2013-03-20 4:27:45,0:44:31,NaN,Star Trek: Deep Space Nine: Season 5: Blaze of...,NaN,Mac,0:44:31,Not latest view,US (United States)
2,Charlie,2013-03-20 4:05:21,0:22:06,NaN,Star Trek: Deep Space Nine: Season 5: Children...,NaN,Mac,0:44:37,0:44:37,US (United States)
3,Charlie,2013-03-20 0:20:03,0:48:14,NaN,The Invisible War,NaN,Microsoft Xbox 360,0:53:18,0:53:18,US (United States)
4,Charlie,2013-03-20 0:10:31,0:04:51,NaN,The Invisible War,NaN,Mac,0:05:01,Not latest view,US (United States)

In [4]:
#ask for count of columns and rows
netflix_df.shape

(200, 10)

In [5]:
#ask for a list of columns
netflix_df.columns

Index(['<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head><body>Profile Name',
       'Start Time', 'Duration', 'Attributes', 'Title',
       'Supplemental Video Type', 'Device Type', 'Bookmark', 'Latest Bookmark',
       'Country'],
      dtype='object')

In [6]:
#ask for number of unique elements in 1 column
netflix_df['<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head><body>Profile Name'].nunique()

1

In [7]:
#ask for number of unique elements in 2 column
netflix_df['Start Time'].nunique()

200

In [8]:
#ask for number of unique elements in 3 column
netflix_df['Duration'].nunique()

172

In [9]:
#ask for number of unique elements in 4 column
netflix_df['Attributes'].nunique()

0

In [10]:
#ask for number of unique elements in 5 column
netflix_df['Title'].nunique()

146

In [11]:
#ask for number of unique elements in 6 column
netflix_df['Supplemental Video Type'].nunique()

0

In [12]:
#ask for number of unique elements in 7 column
netflix_df['Device Type'].nunique()

3

In [13]:
#ask for number of unique elements in 8 column
netflix_df['Bookmark'].nunique()

153

In [14]:
#ask for number of unique elements in 9 column
netflix_df['Latest Bookmark'].nunique()

21

In [15]:
#ask for number of unique elements in 10 column
netflix_df['Country'].nunique()

2

In [16]:
#ask for unique elements in 10 column
netflix_df['Country'].unique()

array(['US (United States)', 'US (United States)</body></html>'],
      dtype=object)